{% extends 'base.html' %}
{% block content %}
<span>
    <ul>
        <li><a href="{% url 'gardens_create' %}">Add Garden</a></li>
    </ul>
</span>

<h1>Garden List</h1>

{% for garden in gardens %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ garden.name }}</span>
      <p>Description: {{ garden.description }}</p>
      <p>Date: {{ garden.date }}</p>
      <p><a href="{% url 'journal' garden.id %}">Journal</a></p>
    </div>

    <div class="card-action">
        <a href="{% url 'gardens_update' garden.id %}">Edit</a>
        <a href="{% url 'gardens_delete' garden.id %}">Delete</a>
    </div>

  </div>
{% endfor %}


{% endblock %}