{% extends 'base.html' %}
{% block content %}

<div class="h1-card">
    <div class="h1-card-content">
        <h1>Garden List</h1>
    </div>
</div>

<span>
    <ul>
        <li><button class="add-btn"><a color="white" href="{% url 'gardens_create' %}">Add Garden</a></button></li>
    </ul>
</span>

{% for garden in gardens %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ garden.name }}</span>
        <p>Description: {{ garden.description }}</p>
        <p>Date: {{ garden.date }}</p>
        <p><a href="{% url 'journal' garden.id %}">Journal</a></p>
    </div>

    <div class="card-action">
        <a href="{% url 'gardens_update' garden.id %}">Edit</a>
        <a href="{% url 'gardens_delete' garden.id %}">Delete</a>
    </div>

</div>
{% endfor %}


{% endblock %}