{% extends 'base.html'%}
{% block content %}

    <h1 class="card-title">{{ garden.name }} Journal</h1>

    <div class="card">
        <div class="card-content">
            <p>Description: {{ garden.description|linebreaks }}</p>
        </div>

        <div class="card">
            <p>{{ garden.date }} Entry: {{ garden.journal | linebreaks }}   
            </p>
        </div>

    </div>


    <div class="col s6">

        <form action="{% url 'add_plant' garden.id %}" method="POST">
            {% csrf_token %}
            {{ plant_form.as_p }}
            <input type="submit" class="btn"    value="Add Plant">
        </form>

        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Name</th><th>Variety</th>
                </tr>
            </thead>

            <tbody>
                {% for plant in garden.plant_set.all %}
                <tr>
                    <td>{{plant.date}}</td>
                    <td>{{plant.name}}</td>
                    <td>{{plant.variety}}</td>
                </tr>
                <div class="card-action">
                    <a href="{% url 'edit_plant' plant.id %}">Edit</a>
                    <a href="{% url 'delete_plant' plant.id %}">Delete</a>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const dateEl = document.getElementById('id_date')
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        })

    </script>

{% endblock %}


{% comment %} <span class="card-title">{{ garden.name }}</span> {% endcomment %}