{% extends 'base.html'%}
{% block content %}

<h1 class="">{{ garden.name }} Journal</h1>

<div class="card">
    <div class="card-content">
        <p>Description: {{ garden.description|linebreaks }}</p>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <h5 id="entry-title">Journal Entries</h5>
        <div class="entry">
            <p id="entry-date">{{ garden.date }}: </p>
            <p id="entry-journal">{{ garden.journal }}
            </p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <form action="" method="POST">
            {% csrf_token %}
            {{ journal_form.as_table }}
            <label for="journal_entry">New Journal Entry: </label>
            <input></input>
            <textarea id="add-entry"></textarea>
            <input type="submit" class="btn" value="Add Entry">
        </form>

        <tbody>
            {% for journal in garden.journal_set.all %}
            <tr>
                <td>{{garden.date}}</td>
                <td>{{garden.journal}}</td>

            </tr>
            <div class="card-action">
                <a href="{% url 'edit_plant' plant.id %}">Edit</a>
                <a href="{% url 'delete_plant' plant.id %}">Delete</a>
            </div>
            {% endfor %}
        </tbody>
        </table>

    </div>
</div>



<div class="card">
    <div class="card-content">
        <div class="col s6">

            <form action="{% url 'add_plant' garden.id %}" method="POST">
                {% csrf_token %}
                {{ plant_form.as_p }}
                <input type="submit" class="btn" value="Add Plant">
            </form>

            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Variety</th>
                    </tr>
                </thead>

                <tbody>
                    {% for plant in garden.plant_set.all %}
                    <tr>
                        <td>{{plant.date}}</td>
                        <td>{{plant.name}}</td>
                        <td>{{plant.variety}}</td>
                        <td><a href="{% url 'edit_plant' plant.id %}">Edit</a></td>
                        <td> <a href="{% url 'delete_plant' plant.id %}">Delete</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date')
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })

</script>

{% endblock %}